#footer_widgets{
	background: #111;
	@include padding(2rem 0 3rem);
	color: white;
	.row{
		@include outer_container();
	}
	.widget{
		@include span-columns(4 of 12);
		@include omega(3n);
		ul:last-child{
			@include margin(0);
		}
		@include media($tablet){
			@include span-columns(4 of 4);
			@include margin(0 0 2rem);
		}
		@include media($xl-desktop){
			@include padding(0 2rem);
		}
	}	
} 

#footer{
	color: $light;
	background: $dark-grey;
	@include padding(1.5rem 0);	
	text-align: center;
	.row{
	    @include outer-container();
	    p{
	    	@include margin(0);
	    }
	}
}