// To use for new-breakpoint()
@import "neat-helpers";

// Display visual grid
$visual-grid: false !global;

// Visual grid colour
$visual-grid-color: #999 !global;

// Default Settings
$column: 		90px;
$gutter: 		20px;
$grid-columns: 	16;
$max-width: 	1200px;

// Breakpoints
$mobile: 		new-breakpoint(max-width 480px 4);
$tablet: 		new-breakpoint(max-width 767px 8);
$desktop:		new-breakpoint(max-width 960px 12);
$xl-desktop:	new-breakpoint(max-width 1200px 16);